*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
.hidden{
    display: none;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
body{
    overflow-x: hidden;
}
nav{
    /* position: fixed; */
    text-align: right;
    text-transform: uppercase;
    padding:20px 0px;
    width: 100%;
    /* background-color: #EE7330; */
    background-color: #10c9c3;
}
nav a{
    text-decoration: none;
    padding: 0 20px;
    font-weight: bold;
    color: black;
    transition: 0.5s;
}
nav a:hover{
    color: #10C9C3
}

.fSection{
    background-image: url("../img/webDesign.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.fSection div{
    width: 40vw;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.fSection div p{
    font-size: 3em;
    padding-bottom: 20px;
}
.fSection div span{
    font-size: 1.5em;
    font-weight: 100;
    line-break: 5px;
}
.fSection div button{
    display: block;
    margin-top: 20px;
    padding: 15px 30px;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: #10c9c3;
    font-size: 0.75em;
    cursor: pointer;
    transition: 0.5s;
}
.fSection div button:hover{
    color:  #10c9c3;
    background-color: white;
}
.aboutUs{
    height: 60vh;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -25%;
    text-align: center;
}
.aboutUs p{
    padding-bottom: 20px;
    font-size: 2em;
}
.aboutUs span{
    font-size: 1.25em;
    font-weight: 100;
}
.aboutUs img{
    width: 400px;
    height: 200px;
}
.skills{
    height: 70vh;
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.skills div{
    width: 50%;
    padding-left: 60px;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}
.skills div p{
    color: white;
    font-size: 2.5em;
    padding-bottom: 30px;
}
.skills div label{
    display: block;
    padding-bottom: 10px;
    font-size: 1.35em;
    text-transform: uppercase;
    color: white;
    font-weight: 100;
}
.skills div label meter{
    display: block;
    width: 80%;
    border: none;
    border-radius: none;
}
.skills div label meter::-webkit-meter-optimum-value{
    background: #10c9c3; 
}
.skills div label meter::-moz-meter-optimum-value {
    background: #10c9c3; 
}
.data{
    height: 20vh;
    background-color: #10c9c3;
    color: white;
}
.data div{
    float: left;
    width: 25%;
    text-align: center;
    /* line-height: 20vh; nie działa ale można próbować albo znaleźć inny sposób np z table cell */
}
.data div i{
}
.data div span{
}
.data div p{
}

.gallery{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    overflow-x: hidden;
}
.gallery img{
    justify-content: center; 
    align-items: center; 
    align-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 25%;
    height: 45%;
    overflow-x: hidden;
}
.gallery p{
    height: 10%;
    width: 100%;
    margin: 0 auto;
    line-height: calc((100% - 90%) + 7vh);
    background-color: lightgray;
    text-transform: uppercase;
    cursor: pointer;
}
.gallery p:hover{
    font-size:1.1em;
}

.video{
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    text-align: center;
}
.video p{
    margin-top: 5%;
    height: 10%;
    font-size: 1.75em;
    font-weight: bold;
}
.video span{
    height: calc(70% - 7% - 10%);
    font-size: 0.75em;
    width: 55%;
    color: gray;
    padding-bottom: 5%;
}
.video video{
    margin-top: 5%;
    width: 60%;
    height: 70%;

}

.form{
    height: 80vh;
    background-color: #EEE;
    text-align: center;
}
.form p{
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 2em;
}
.form span{
    margin: 0 auto;
    font-size: 1.5em;
    display: block;
    width: 50%;
}
.form form{
    width: 60%;
    margin: 0 auto;

}
.form form .short{

    padding: 5px 10px ;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 4%;
    /* margin-right: (90% - 50%); */
    border: none;
    outline: none;
}
.form form .long{
    width: 100%;
    padding: 5px 10px ;
    border: none;
    outline: none;
    margin-bottom: 4%;
}
.form form textarea{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 10px;
}
.form ::placeholder{
    color: black;
    font-weight: bold;
    font-size: 0.8em;
}
/*po kliknięciu img pojawia się popup ze sliderem (zastosować lightboxa) */
/* testy funkcjonalbne
rest api 
test case 
testy funkcjonalne testy biało i czarno skrzynkowe, piramida testów, sql jak się zna , kolejny etap zadanie zwiazane z oprogramowaniem grafik równowazny 9 podstawowy 0 planowany i wykonany , 
dac znac sms po rozmowie Wojtkowi
zrobić CV , wysłać na e-mail tej pani, czekać na telefon, w międzyczasie dać znać Wojtkowi i uczyć się dużo teorii do tego  */