*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
nav{
    position: fixed;
    text-align: right;
    text-transform: uppercase;
    padding:20px 0px;
    width: 100%;
    background-color: #EE7330;
}
nav a{
    text-decoration: none;
    padding: 0 20px;
    font-weight: bold;
    color: black;
    transition: 0.5s;
}
nav a:hover{
    color: #10C9C3
}